<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ibin.plantplacepic">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="456142274781300"/>


        <activity
            android:name=".activities.SignInActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:label="Sign Up"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.TermsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Dashboard"
            android:label="@string/dashboard_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.ImageInfoActivity">
        </activity>
        <activity
            android:name=".activities.CustomGallery"
            android:label="@string/gallery_activity"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".services.ImageUploadService"/>
        <service android:name=".services.GetUploadedDataService"/>
        <service android:name=".services.GetAllUploadedDataService"/>

        <activity
            android:name=".activities.ReviewMyUpload"
            android:label="@string/activity_myuploads"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.LargeZoomActivity"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".activities.ReviewMyUploadTabActivity"
            android:label="@string/activity_myuploads"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.UpdateInfoActivity"
            android:label="@string/update_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--
        <receiver android:name=".activities.ReviewMyUploadTabActivity$DataReceiver">
            <intent-filter>
                <action android:name="com.ibin.plantplacepic.CUSTOM_INTENT">
                </action>
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".activities.SpeciesSearchActivity"
            android:label="@string/species_search_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SpeciesAroundYouActivity"
            android:label="@string/species_around_you"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SpeciesByNameActivity"
            android:label="@string/search_species_by_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SpeciesInfoActivity"
            android:label="@string/species_detail"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.FeedbackActivity">
        </activity>
        <activity android:name=".HelpActivity">
        </activity>
        <activity android:name=".activities.LoginMainActivity">
        </activity>

    </application>

</manifest>